@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
body{
  background-color: rgba(17, 17, 17, 1);
  background-image: url('img/header-photo.svg');
  color:rgba(255, 255, 255, 1) ;
  background-repeat: no-repeat;
  font-family: 'Cormorant Garamond', serif;
  overflow-x: hidden;
}
header{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  position: relative;
  vertical-align: bottom;
  font-style: 18px;
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  .header__img{
    padding-top: 20px;
  }
  a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
   nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
   }
   ul{
    display: flex;
    justify-content: space-between;
    gap: 5.208vw ;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
   }
   div{
    display: flex;
    gap: 80px;
    li{
      text-decoration: none;
      color:rgba(255, 255, 255, 1) ;
      height: 30px;
      cursor: pointer;
    }
    li:hover{
      color: rgba(205, 170, 125, 1);
      text-decoration: underline rgba(205, 170, 125, 1);
      text-underline-offset: 10px;
    }
    a:hover{
      color: rgba(205, 170, 125, 1);

    }
   }
}
.contact-menu{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: block;
  img{
    padding: 20px;
  }
  .text{
    width: 15.625vw;
    margin: 0 auto;
    margin-top: 100px;
  }
  .title{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 50px;
  }
  .number{
    width: 15.625vw;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 10px;
  }
  .graph{
    width: 300px;
    margin: 0 auto;
  }

}
.contact-menu-Active{
  opacity: 1;
  visibility: visible;
  width: 24.740vw;
  height: 106.027vh;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(17, 17, 17, 1);
  font-size: 18px;
  display: block;
  p:nth-child(1){
    width: 15.625vw;
    margin: 0 auto;
    margin-top: 100px;
  }
  .title{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 50px;
  }
  .number{
    width: 15.625vw;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 10px;
  }
  .graph{
    width: 15.625vw;
    margin: 0 auto;
  }

}

.logo{
    width: 80vw;
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
    width: 31.250vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 260px;
  }
main{
  width: 80vw;
  margin: auto;
  margin-top: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    width: 41.667vw;
    font-size: 27px;
    img{
      width: 90px;
      display: flex;
      margin: 0 auto;
    }
    p{
      text-align: center;
      line-height: 37px;
    }
  }
  .main__text{
    text-align: center;
  }
}
section{
  display: flex;
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 20.833vw);
  grid-template-rows: repeat(2, 40.858vh);
  font-size: 30px;
  gap: 40px ;
  justify-content: center;
  img{
    width: 20.833vw;
    z-index: 2;
    position: absolute;
  }

  div{
    margin-top: 50px;
  }
  .border{
    border: 1px solid rgba(205, 170, 125, 1);
    position: relative;
    width: 20.833vw;
    height: 27.833vh;
    bottom: 110px;
    left: 20px;
    z-index: 1;
  }
  span{
    position: relative;
    top: 305px;
  }
}
figure{  
  width: 80vw;
  margin: 0 auto;
  margin-top: 160px;
  ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    li{
      opacity: 0.4;
    }
    li:hover{
      opacity: 1;
    }
  }
}
.slider{
  width: 80vw;
  margin: 0 auto;
  margin-top: 180px;
  .slider-title{
    font-size: 48px;
    text-align: center;
  }
  ul{
    margin-top: 80px;
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    li{
      font-size: 24px;
    }
    li:hover{
      color: rgba(205, 170, 125, 1);
      border-bottom: 1px solid rgba(205, 170, 125, 1);
    }
  }
  .grid-block{
    img{
      width: 21.667vw;
      height: 42.492vh;
    }
  }
  .grid-slide,.grid-slide_two,.grid-slide_three,.grid-slide_four{
    padding-top: 150px;
    justify-content: center;
    display: grid;
    gap: 30px ;
    grid-template-columns: repeat(3, 20.833vw);
    grid-template-rows: repeat(3, 40.858vh);
    position: absolute;
    left: 0;
    right: 0;
    transition: all 1s;
  }
}
.opacity{
  opacity: 0;
}
.opacityNone{
  opacity: 1;
  transition: all 2s;
}
.divClass{
  color: rgba(205, 170, 125, 1);
  border-bottom: 1px solid rgba(205, 170, 125, 1);
}
footer{
  width: 80vw;
  margin: 0 auto;
  margin-top: 1600px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  ul{
    list-style: none;
  }
  .logo-footer{
    width: 80px;
  }
  li{
    margin-top: 20px;
    font-size: 18px;
  }
  li:nth-child(1){
    font-size: 42px;
    font-weight: 700;
  }
}
.Copyright{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 1366px) {
  section{
    .border{
      height: 220px;
    }
    .media{
      position: relative;
      bottom: 145px;
    }
  }
}
