@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
body {
  background-color: #111111;
  background-image: url("header-photo.svg");
  color: white;
  background-repeat: no-repeat;
  font-family: 'Cormorant Garamond', serif;
  overflow-x: hidden;
}

header {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  position: relative;
  vertical-align: bottom;
  font-style: 18px;
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

header .header__img {
  padding-top: 20px;
}

header a {
  text-decoration: none;
  color: white;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
}

header div {
  display: flex;
  gap: 80px;
}

header div li {
  text-decoration: none;
  color: white;
  height: 30px;
  cursor: pointer;
}

header div li:hover {
  color: #cdaa7d;
  text-decoration: underline #cdaa7d;
  text-underline-offset: 10px;
}

header div a:hover {
  color: #cdaa7d;
}

.contact-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: block;
}

.contact-menu img {
  padding: 20px;
}

.contact-menu .text {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

.contact-menu .title {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 50px;
}

.contact-menu .number {
  width: 300px;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 10px;
}

.contact-menu .graph {
  width: 300px;
  margin: 0 auto;
}

.contact-menu-Active {
  opacity: 1;
  visibility: visible;
  width: 475px;
  height: 1038px;
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  background-color: #111111;
  font-size: 18px;
  display: block;
}

.contact-menu-Active p:nth-child(1) {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

.contact-menu-Active .title {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 50px;
}

.contact-menu-Active .number {
  width: 300px;
  margin: 0 auto;
  font-size: 18px;
  margin-top: 10px;
}

.contact-menu-Active .graph {
  width: 300px;
  margin: 0 auto;
}

main {
  width: 80vh;
  margin: 0 auto;
  margin-top: 100px;
}

main h1 {
  text-align: center;
  margin-bottom: 100px;
}

main section {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 20.833vw);
  grid-template-rows: repeat(2, 49.833vh);
  font-size: 30px;
  gap: 120px;
  justify-content: center;
}

main section img {
  width: 20.833vw;
  height: 48.723vh;
  z-index: 2;
  position: absolute;
}

main section div {
  margin-top: 50px;
}

main section .border {
  border: 1px solid #cdaa7d;
  position: relative;
  width: 20.833vw;
  height: 49.833vh;
  bottom: 110px;
  left: 20px;
  z-index: 1;
}

main section span:nth-child(2) {
  position: relative;
  top: 490px;
}

footer {
  width: 80vw;
  margin: 0 auto;
  margin-top: 400px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

footer ul {
  list-style: none;
}

footer .logo-footer {
  width: 80px;
}

footer li {
  margin-top: 20px;
  font-size: 18px;
}

footer li:nth-child(1) {
  font-size: 42px;
  font-weight: 700;
}

.Copyright {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
